# ANÁLISE DAS OCORRÊNCIAS DA LEI MARIA DA PENHA NA ÁREA DE SEGURANÇA  INTEGRADA-19 NO PERÍODO DE 2019 A 2022

# Introdução
<h2> *Áreas Integradas de Segurança – AIS<h2>
<h3> AIS 19 corresponde aos seguintes municípios:
 Abaiara, Altaneira, Antonina do Norte, Araripe, Assaré, Aurora, Barbalha, Barro, Brejo Santo, Campos Sales, Caririaçu, Crato, Farias Brito, Jardim, Jati, Juazeiro do Norte, Mauriti, Milagres, Missão Velha, Nova Olinda, Penaforte, Porteiras, Potengi, Salitre e Santana do Cariri.<h3>

# 1.Carregando as bibliotecas

In [1]:
#importando as bibliotecas
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm
plt.style.use ('ggplot')

# 2. Carregando Dataset

In [4]:
#lendo o arquivo csv
df= pd.read_csv("PlanilhaUnificadaAIS19.csv", encoding="utf-8")

In [5]:
df.head() #para visualizar do dataframe

,AIS,Data,Hora,Dia da Semana,Gênero,Idade da Vítima,Escolaridade da Vítima,Raça da Vítima
0,AIS 19,01/01/19,01:00:00,Terça,Feminino,22,Ensino Médio Incompleto,Parda
1,AIS 19,01/01/19,02:00:00,Terça,Feminino,36,Ensino Médio Completo,Branca
2,AIS 19,01/01/19,04:00:00,Terça,Feminino,33,Alfabetizado,Não Informada
3,AIS 19,01/01/19,10:30:00,Terça,Feminino,23,Alfabetizado,Não Informada
4,AIS 19,01/01/19,11:20:00,Terça,Feminino,89,Alfabetizado,Não Informada

In [6]:
df.info() #para obter informações do dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11622 entries, 0 to 11621
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   AIS                     11622 non-null  object
 1   Data                    11622 non-null  object
 2   Hora                    11622 non-null  object
 3   Dia da Semana           11622 non-null  object
 4   Gênero                  11622 non-null  object
 5   Idade da Vítima         11622 non-null  object
 6   Escolaridade da Vítima  11622 non-null  object
 7   Raça da Vítima          11622 non-null  object
dtypes: object(8)
memory usage: 726.5+ KB

In [7]:
df.describe() #para ver um descrição mais especifica dos dados

,AIS,Data,Hora,Dia da Semana,Gênero,Idade da Vítima,Escolaridade da Vítima,Raça da Vítima
count,11622,11622,11622,11622,11622,11622,11622,11622
unique,1,1459,557,7,2,95,9,6
top,AIS 19,17/01/21,20:00:00,Domingo,Feminino,30,Alfabetizado,Não Informada
freq,11622,22,576,2407,11621,396,2540,6755

# 3.Limpeza e preparação dos Dados

In [8]:

# Verificando se há dados ausentes

pd.isnull("PlanilhaUnificadaAIS19.csv")

False

In [8]:
#verificando se há dados duplicados
# neste caso não há, notamos pelo false, caso houvesse dados duplicados apareceria true para mais de uma coluna
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
79954    False
79955    False
79956    False
79957    False
79958    False
Length: 79959, dtype: bool

In [10]:
# Detectando e filtrando Valores Discrepantes (outliers)

# 4. Análise Univariada

# 5.Análise Bivariada

# 6. Gráfico de dispersão